<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAouXykTL_CAconQa-unYhDRqu3Sj3kkw0</string>
	<key>GCM_SENDER_ID</key>
	<string>184624092455</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dcsoft1981.casual1</string>
	<key>PROJECT_ID</key>
	<string>dcstudio-toktok-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>dcstudio-toktok-ios.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:184624092455:ios:4d3d378c2dea14a0b20502</string>
</dict>
</plist>